<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
	<property name="username" value="root"></property>
	<property name="password" value=""></property>
	<property name="url" value="jdbc:mysql://localhost:3306/bank"></property>
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	
	</bean>
	
		<context:component-scan base-package="com.bank.model,com.bank.service,com.bank.beans"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	
	<bean id="product" class="com.bank.beans.Product"></bean>
		<bean id="account" class="com.bank.model.Account"></bean>
			<bean id="customer" class="com.bank.beans.Customer"></bean>
	<bean id="ba" class="com.bank.beans.BankAccount"></bean>
	<bean id="cibil" class="com.bank.beans.Cibil"></bean>
		<bean id="service" class="com.bank.service.BankService"></bean>
		
	<bean id="logic" class="com.bank.beans.Logic"></bean>
	
	<bean id="sf" class="com.bank.sort.SortByFirstName"></bean>
	<bean id="sl" class="com.bank.sort.SortByLastName"></bean>
	<bean id="sb" class="com.bank.sort.SortByBalance"></bean>
	
</beans>
